.home-container {
    grid-template-columns: 4.75fr 7.25fr;
    align-items: center;
    gap: 2rem clamp(2rem, -22.6531rem + 32.6531vw, 10rem);
    padding: 2.5rem;
    min-height: 100vh;
}
.home-content{
    padding-top: 3.7rem;
}
.home-img {
    height: calc(100vh - 5rem);
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
    z-index: 10;
}

.home-title {
    font-size: var(--h2-font-size);
    padding-left: 4rem;
    position: relative;
}

.home-title span {
    color: var(--first-color);
}

.home-title::before {
    content: '';
    position: absolute;
    top: 22%;
    left: 0;
    width: 40px;
    height: 4px;
    border-radius: 0.5rem;
    background-color: var(--first-color);
}

.home-description {
    line-height: 1.75;
    max-width: 650px;
    margin-block: 1.5rem 2.5rem;
}

.color-block {
    position: fixed;
    width: 30%;
    height: 150%;
    background-color: var(--first-color);
    transform: rotate(-16deg);
    top: -12%;
    left: -12%;
}

.home__socials{
    position: relative;
    display: flex;
    column-gap: 1.95rem;
    padding-left: 1rem;
    margin: 1rem 0;
}

.home__social-link{
    color: var(--text-color);
    transition: .3s;
}

.home__social-link:hover{
    color: var(--first-color);
}


